<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
{{#partial "nav"}}
    <div class="nav">
        <p class="heroine">Heroine</p>
        <p class="home">home</p>
        <p class="create">create your hero </p>
        <p class="contact"> contact us</p>
    </div>
{{/partial}}
</div>
</body>

</html>
{{> layout.hbs}}