<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
{{#partial "nav"}}
    <div class="nav">
        <p class="heroine">Heroine</p>
        <p class="home">home</p>
        <p class="create">create your hero </p>
        <p class="contact"> contact us</p>
    </div>
{{/partial}}
{{#partial "content"}}
    <p class="welcome">Welcome to Heroine</p>
    <p class="allows">super hero is a platform that allows its users to customize </p>
    <p class="Sandra">Heroine was originally created by Sandra Metto</p>
    <p class="dive">it allows one to dive into the fictional world and get creative.</p>
    <form action="/form">
    <button class="started" >Get started</button>
    </form>
    <img src="/images/mario2-removebg-preview.png" alt="" class="mario">
    <div class="cream">

    </div>
    </div>
    <p class="contactus">Contact us</p>
    <p class="email">Email  heroine@google.com</p>
    <p class="phone">Phone +134 (909)-12356789</p>
    <p class="follow">Follow us on</p>
    <p class="twitter">Twitter @Heroine123</p>
    <p class="instagram">Instagram @Heroine</p>
    <p class="copy">copyright</p>
    <p class="heroinedown">Heroine 2021</p>
{{/partial}}
    <div class="footer">
    </div>













</div>
</body>

</html>
{{> layout.hbs}}